body{
    background: yellow;
    background: #708690;
}


/* CLASSES */

.jumbotron{
    background: #1c313a;
    color: white;
    border-radius: 0px;
}

.container{
    background: #455a64;
}


/* IDs */

#kioskHeading{
    color: white;
    text-align: center;
}

#micArea{
    /* border: 2px solid red; */
    align-items: center;
    text-align: center;
}

#micIcon{
    padding: 3%;
    position: absolute;
    /* background: blue; */
    left: 35%;
    height: 100%;
    width: 30%;
    /* border: 2px solid green; */
}

#micIconID{
    border-radius: 55%;
    /* border: 2px solid white; */
    width: 88%;
    height: 45%;
}

#textAreaID{
    position: relative;
    width: 19%;
}

#submitBTN{
    overflow:hidden;
    position: absolute;
    top: 97%;
    right: 46%;
    width: 7%;
}

#transcriptForm{
    align-items: center;
    text-align: center;
    width: 30%;
    position: absolute;
    bottom: 8%;
    left: 35%;
}

.operateButtons{
    border: 2px solid red;
    position: absolute;
    bottom: 1%;
    width: 10%;
    height: 2%;
}

#pauseBTN{
    width: 100%;
    right: 50%;
}

#clearBTN{
    width: 100%;
    left: 10%;
}
